.dark-gray {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  width: 100%;
  height: auto;
  color: $white;
}

.dark-gray__genius {
  width: 66.2%;
  background-color: $dark-gray;
  margin-right: 6.5px;
  position: relative;
  overflow: scroll;

  &::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

.dark-gray__text {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 20px;
  left: 10px;
  width: calc(100% - 30px);
  height: auto;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.dark-gray__wrapper {
  width: 31.7%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.dark-gray__feeling {
  background-color: $dark-gray;
  height: 50%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
  padding: 10px;
}

.dark-gray__moreno {
  background-color: $dark-gray;
  height: 50%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding: 10px;
}

@media (min-width: $tablet-width) {
  .dark-gray {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
    color: $white;
  }

  .dark-gray__genius {
    width: 66.2%;
    background-color: $dark-gray;
    margin-right: 10px;
    position: relative;
    overflow: scroll;

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }

  .dark-gray__text {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 30px;
    left: 25px;
    width: calc(100% - 71px);
    height: auto;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
  }

  .dark-gray__wrapper {
    width: 32.3%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .dark-gray__feeling {
    background-color: $dark-gray;
    height: 50%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
    padding: 15px 15px 13px 15px;
  }

  .dark-gray__moreno {
    background-color: $dark-gray;
    height: 50%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 15px 15px 13px 15px;
  }
}
