.green {
  display: none;
}

@media (min-width: $tablet-width) {
  .green {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
  }

  .green__wrapper {
    width: 30.5%;
    height: auto;
    margin-right: 10px;
  }

  .green__modernisation {
    background-color: $green;
    display: flex;
    align-items: flex-end;
    padding: 6.2%;
    margin-bottom: 10px;
    width: 100%;
    height: 50%;
  }

  .green__employees {
    background-image: url(../img/ship.jpg);
    background-position: top;
    background-size: cover;
    color: $white;
    width: 100%;
    height: 50%;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-end;
    padding: 6.2%;
  }

  .green__info {
    width: 67%;
    padding: 15px;
    background-color: $green;
    position: relative;

    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }

  .green__list {
    position: absolute;
    width: calc(100% - 30px);
    height: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: $table-font;
    font-size: 14px;
    line-height: 19.07px;
    font-weight: 400;
  }

  .green__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    border-bottom: 1px dashed $black;
  }

  .green__text {
    max-width: 131px;
    text-align: right;
    display: flex;
    align-items: flex-end;

    &--left {
      max-width: 45%;
      display: flex;
      align-items: flex-end;
    }
  }
}
