.main-dialog {
  padding-top: 50px;
}

.main-dialog__background {
  width: 651px;
  margin: 0 auto;
  background-image: url("../img/forest-background.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  box-shadow: 0 20px 30px rgba($black, 0.15);
  margin-bottom: 30px;
}
