@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans";
  font-weight: 400;
  src: url("../fonts/noto-sans.woff2") format("woff2"), url("../fonts/noto-sans.woff") format("woff");
}
