@mixin small-block($background-color) {
  width: calc((100% - 10px)/ 2);
  padding: 15px;
  margin-bottom: 10px;
  background-color: $background-color;
  min-height: 155px;
  display: flex;
  align-items: flex-end;
}

@mixin wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 12px 0 13px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}
