.green {
  display: none;
}

@media (min-width: $tablet-width) {
  .green {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 10px;
  }

  .green__wrapper {
    width: 32.3%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
  }

  .green__modernisation {
    background-color: $green;
    display: flex;
    align-items: flex-end;
    padding: 15px;
    margin-bottom: 10px;
    width: 100%;
    height: 50%;
  }

  .green__sign {
    display: none;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 61px;
      height: 61px;
      bottom: 90px;
      left: 90px;
      background-color: $white;
      border-radius: 50%;
      z-index: 10;
    }

    &::after {
      position: absolute;
      content: "!";
      color: $red;
      font-size: 36px;
      font-weight: 42.19px;
      text-align: center;
      bottom: 110px;
      left: 116px;
      z-index: 20;
    }
  }

  .green__employees {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: 0;

    &:hover {
      cursor: pointer;
    }
  }

  .green__background {
    width: 100%;
    height: 100%;
  }

  .green__image {
    width: 100%;
    height: 100%;
  }
  
  .green__content {
    fill: $white;
  }
  
  .green__background:hover .green__image[filter] {
    filter: url(#blur);
  }
  
  .green__background:hover .green__content[filter] {
    filter: url(#blur);
  }

  .green__employees:hover + .green__sign {
    display: block;
  }

  .green__info {
    width: 66.2%;
    padding: 15px;
    background-color: $green;
    position: relative;

    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }

  .green__list {
    position: absolute;
    width: calc(100% - 30px);
    height: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: $table-font;
    font-size: 14px;
    line-height: 19.07px;
    font-weight: 400;
  }

  .green__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    &--name,
    &--number {
      position: relative;
    }
  }

  .green__text {
    max-width: 131px;
    text-align: right;
    display: flex;
    align-items: flex-end;
    margin-left: 10px;

    &--left {
      max-width: 47%;
      display: flex;
      align-items: flex-end;
      margin-left: 0;
      margin-right: 10px;
    }
  }

  .green__line {
    width: auto;
    border-bottom: 1px dashed $black;
    margin-bottom: 4px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;

    &--name {
      position: absolute;
      width: 50%;
      bottom: 0;
      left: 118px;
    }

    &--number {
      position: absolute;
      width: 70.1%;
      bottom: -2px;
      left: 65px;
    }
  }
}
